:host {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: 48%;
}
.main__left-block{
  display: flex;
  width: 100%;
  flex-direction: column;
}
.main__type-tasks{
  list-style: none;
  display: flex;
  gap: 20px;
  width: 100%;
  height: 36px;
  margin-top: 8px;
  border-bottom: 1px solid #E0E0E0;
}
.main__type-task{
  font-size: 14px;
  font-weight: 400;
  padding: 7px 8px;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: var(--gray-color);
}
.active{
  color: var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
  height: 22px;
}
.main__quantity{
  display: flex;
  border:none;
  align-items: center;
  margin: 16px 0 8px 0;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main__tasks{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px
}
.main__task{
  padding: 12px;
  background: #fff;
}
.main__question{
  display: flex;
  gap: 8px;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}
.main__description-question{
  font-size: 14px;
  color: #242424;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main__code-question{
  position: absolute;
  right: 0;
}
.main__line{
  display: flex;
  gap: 6px;
}
.main__segment {
  flex-grow: 0.5;
  width: 209px;
  height: 2px;
  background-color: #4CAF50;
}
.main__segment:nth-child(2) {
  background-color: #ddd; /* Цвет выделенной части */
  flex-grow: 0.5; /* Ширина выделенной части */
}
.main__segment:nth-child(3) {
  background-color: #ddd; /* Цвет выделенной части */
  flex-grow: 0.5; /* Ширина выделенной части */
}

.main__segment:nth-child(4) {
  background-color:#ddd ; /* Прозрачный промежуток */
  flex-grow: 0.5; /* Ширина прозрачного промежутка */
}

.main__segment:last-child {
  background-color: #ddd; /* Обычный цвет */
}
.main__developer{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 13px;
}
.main__author{
  display: flex;
  align-items: center;
  gap:4px
}
@media (max-width: 1440px){
  .main__description-question
  {
    width: 85%;
  }
}
@media (max-width: 1080px) {
  .main__type-tasks{
    gap:10px
  }
  .main__description-question{
    width: 84%;
  }
}
@media (max-width: 400px) {
  .main__type-tasks{
    display: none;
  }
  .main__quantity{
    margin:12px 0 8px 0;
  }
}
