
.header{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.header__nav{
  display: flex;
  text-decoration: none;
  list-style: none;
  align-items: end;
  gap: 24px;
  a{
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    height: 31px;
    padding: 16px 0 0 0;
    text-align: justify;
    text-decoration: none;
    color:var(--gray-color);
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  a:first-child{
    color:var(--blue-color);
  }
}
.header__profile{
  display: flex;
  padding: 16px 0 0 0;
  gap: 12px;
  height: 30px;
  align-items: center

}
.header__li-icon{
  margin-right: 8px;
}
.mr-left{
  margin-left: 8px;
}
.header__submit{
  width :118px;
  padding: 7px 12px;
  border: 1px solid var(--blue-color);
  border-radius: 4px;
  color: var(--blue-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  height: 31px;
  font-size: 12px;
  span{
    font-size: 13px;
    font-weight: 500;
    line-height: 18px;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: var(--blue-color);
    margin: 0 8px 0 4px;
  }
}
.header__time{
  box-shadow: 0 -1px 4px 0 #324D5912;
  width: 71px;
  height: 30px;
  min-width: 30px;
  padding: 0 6px;
  gap: 4px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--blue-color);
    p{
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
  }
}
.header__main-task{
  width:368px;
  height:30px;
  min-width: 100px;
  max-width: 368px;
  padding: 0 8px;
  gap: 4px;
  border-radius: 6px;
  border: 1px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray-color);
  background: white;
}
.header__icon-badge{
  position: absolute;
  top: -6px;
  left: 11px;
}
.header__chat{
  position: relative;
  width: 30px;
  height: 30px;
  border: 0;
  background: white;
  border-radius: 6px;
}
@media (max-width: 1440px) {
  .header__nav{
    gap: 18px;
  }
}
@media (max-width: 1280px) {
  .header__nav{
    gap: 12px;
  }
  .header__main-task{
    font-size: 10px;
    width: 278px;
  }
  .header__time {
    p {
      line-height: 21px;
      font-size: 12px;
    }
  }
}
@media (max-width: 1080px) {
  .header{
    display: none;
  }
}
