<div class="main">
  <div class="main__data">Вторник, 27 Октября</div>
  <div class="main__product-task">
    <button class="main__product-list">Все продукты <img ngSrc="/arrow-icon.png" alt="" height="6" width="10"></button>
    <button class="main__product-list">Все задачи <img ngSrc="/arrow-icon.png" alt="" height="6" width="10"></button>
  </div>
  <div class="main__block-question">
    <div class="main__left-block">
      <ul class="main__type-tasks">
        <li class="main__type-task">На согласование: 1</li>
        <li class="main__type-task">На ревью: 3</li>
        <li class="main__type-task active">Для работы: 16</li>
        <li class="main__type-task">Черновики: 2</li>
      </ul>
      <button class="main__quantity" (click)="showElement(0)"><img ngSrc="/arrow-icon.png" alt="arrow-icon" height="6" width="10">
        Мои: 7</button>
      <div class="main__tasks" *ngIf="elementsVisibility[0]" >
        <div class="main__task" *ngFor='let task of myTask'>
          <div class="main__question"><img [src]="task.url"  alt="icon-task" height="17" width="16"> <p class="main__description-question">{{task.name}}</p> <p class="main__code-question">{{task.code}}</p></div>
          <div class="main__line">
            <div class="main__segment"></div>
            <div class="main__segment"></div>
            <div class="main__segment"></div>
            <div class="main__segment"></div>
          </div>
          <div class="main__developer"><img ngSrc="/ic_StatusTask_16.png" alt="status" height="16" width="16"><div class="main__author">
            <img ngSrc="/profile-icon.png" alt="" height="16" width="16">Вильгельмина Ш.</div></div>
        </div>
      </div>
      <button class="main__quantity" (click)="showElement(1)"><img ngSrc="/arrow-icon.png" alt="arrow-icon" height="6" width="10">
        Не назначенные: 9</button>
      <div class="main__not-assigned" *ngIf="elementsVisibility[1]">
        <div class="main__tasks" >
          <div class="main__task" *ngFor='let task of notAssigned'>
            <div class="main__question"><img [src]="task.url"  alt="icon-task" height="17" width="16"> <p class="main__description-question">{{task.name}}</p><p class="main__code-question">{{task.code}}</p></div>
            <div class="main__line">
              <div class="main__segment"></div>
              <div class="main__segment"></div>
              <div class="main__segment"></div>
              <div class="main__segment"></div>
            </div>
            <div class="main__developer"><img [src]="task.iconStatus"  alt="status" height="16" width="16"><div class="main__author">
              <img ngSrc="/not-auth.png" alt="" height="16" width="16">Вильгельмина Ш.</div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="main__right-block">
      <div class="main__in-work">
         <div class="main__task" >
           <div class="main__quantity-active">В работе:</div>
           <div class="main__question"><img src="/icon_task.png"  alt="icon-task" height="17" width="16"> <p class="main__description-question">Разработка нового интерфейса для панели управления</p> <p class="main__code-question">TR-323</p></div>
          <div class="main__line-active">
            <div class="main__segment"></div>
            <div class="main__segment-green"></div>
            <div class="main__segment-blue"></div>
            <div class="main__segment"></div>
          </div>
          <div class="main__developer"><img ngSrc="/watched-icon.png" alt="status" height="16" width="16"><div class="main__author">
            <img ngSrc="/profile-icon.png" alt="" height="16" width="16">Вильгельмина Ш.</div></div>
        </div>
      </div>
      <div class="main__on-pause" >
        <button class="main__quantity" (click)="showElement(2)"><img ngSrc="/arrow-icon.png" alt="arrow-icon" height="6" width="10">
          На паузе: 14</button>
        <div class="main__tasks" *ngIf="elementsVisibility[2]">
          <div class="main__task" *ngFor='let task of onPause'>
            <div class="main__question"><img [src]="task.url"  alt="icon-task" height="17" width="16"> <p class="main__description-question">{{task.name}}</p> <p class="main__code-question">{{task.code}}</p></div>
            <div class="main__line">
              <div class="main__segment"></div>
              <div class="main__segment"></div>
              <div class="main__segment"></div>
              <div class="main__segment"></div>
            </div>
            <div class="main__developer"><img [src]="task.iconStatus" alt="status"><div class="main__author">
              <img ngSrc="/profile-icon.png" alt="" height="16" width="16">Вильгельмина Ш.</div></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
