.main {
  margin-top: 8px;
}
.main__block-question {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 400px) {
  .main__block-question {
    flex-direction: column-reverse;
    gap: 0;
  }
  .main__data {
    display: none;
  }
}
