.main{
  margin-top: 8px;
}
.active{
  color: var(--blue-color);
  border-bottom: 1px solid var(--blue-color);
  height: 22px;
}
.main__left-block{
  display: flex;
  width: 50%;
  flex-direction: column;
}
.main__quantity{
  display: flex;
  border:none;
  align-items: center;
  margin: 16px 0 8px 0;
  gap: 8px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.main__line{
  display: flex;
  gap: 6px;
}
.main__segment {
  flex-grow: 0.5;
  width: 209px;
  height: 2px;
  background-color: #4CAF50;
}
.main__segment:nth-child(2) {
  background-color: #ddd; /* Цвет выделенной части */
  flex-grow: 0.5; /* Ширина выделенной части */
}
.main__segment:nth-child(3) {
  background-color: #ddd; /* Цвет выделенной части */
  flex-grow: 0.5; /* Ширина выделенной части */
}

.main__segment:nth-child(4) {
  background-color:#ddd ; /* Прозрачный промежуток */
  flex-grow: 0.5; /* Ширина прозрачного промежутка */
}

.main__segment:last-child {
  background-color: #ddd; /* Обычный цвет */
}
.main__tasks{
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px
}
.main__task{
  padding: 12px;
  background: #fff;
}
.main__question{
  display: flex;
  gap: 8px;
  position: relative;
  align-items: center;
  margin-bottom: 20px;
}
.main__developer{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 13px;
}
.main__author{
  display: flex;
  align-items: center;
  gap:4px
}
.main__code-question{
  position: absolute;
  right: 0;
}
.main__block-question{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main__description-question{
  font-size: 14px;
  color: #242424;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.main__line-active{
  display: flex;
  gap: 6px;
}
.main__segment-green {
  background-color: #4CAF50;
  flex-grow: 0.5;
  width: 209px;
}
.main__segment-blue {
  background-color: var(--blue-color); /* Цвет выделенной части */
  flex-grow: 0.5;
  width: 209px;
}

.main__segment:nth-child(4) {
  background-color:#ddd ; /* Прозрачный промежуток */
  flex-grow: 0.5; /* Ширина прозрачного промежутка */
  width: 209px;
}
.main__right-block{
  width: 50%;
}
.main__quantity-active{
  display: flex;
  align-items: center;
  margin: 0 0 8px 0;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  text-underline-position: from-font;
  color: var(--blue-color);
  text-decoration-skip-ink: none;
}


@media (max-width: 1440px){
  .main__left-block{
    width: 50%;
  }
  .main__description-question
  {
    width: 85%;
  }
  .main__right-block{
    box-sizing: border-box;
    width: calc(50% - 40px)
  }
}
@media (max-width: 1080px) {
  .main__description-question{
    width: 84%;
  }
}
@media (max-width: 400px) {
  .main__block-question{
    flex-direction: column-reverse;
    gap: 0;
  }
  .main__left-block{
    width: 100%;
  }
  .main__right-block{
    width: 100%;
  }
  .main__data{
    display: none;
  }
  .main__product-task{
    display: none;
  }
  .tabs-container {
    overflow-x: auto; /* Горизонтальная прокрутка */
    display: flex;
    scroll-snap-type: x mandatory; /* Включаем привязку по горизонтали */
    scrollbar-width: none; /* Убирает скроллбар в Firefox */
    -ms-overflow-style: none; /* Убирает скроллбар в IE/Edge */
  }

  .tabs-container::-webkit-scrollbar {
    display: none; /* Убирает скроллбар в Chrome/Safari */
  }

  .tabs {
    display: flex;
    gap: 20px; /* Расстояние между табами */
    padding: 10px 0; /* Отступы для табов */
    margin: 0;
    list-style: none;
  }

  .tabs li {
    flex: none; /* Фиксированная ширина для табов */
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    color: #6b6b6b;
    scroll-snap-align: center;
    white-space: nowrap; /* Запрет переноса текста */
    position: relative;
  }

  .tabs li.active {
    color: #007bff;
    font-weight: bold;
  }

  .tabs li.active::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #007bff;
  }
  .main__quantity{
    margin:12px 0 8px 0;
  }
}
