<div class="main__product-task">
  <div class="main__product-container">
    <button class="main__product-list" (click)="toggleActive(0)">Все продукты <img [ngStyle]="getStyles(0)"
                                                                                   ngSrc="/arrow-icon.png" alt=""
                                                                                   height="6" width="10"></button>
    <ul class="main__product-menu" [ngClass]="{'active': activeIndex[0]}">
      <li><a class="main__product-link" href="#">Все продукты</a></li>
      <li><a class="main__product-link" href="#"><img ngSrc="/sp2-1.png" alt="" height="16" width="16">Продукт №1</a>
      </li>
      <li><a class="main__product-link" href="#"><img ngSrc="/sp2-2.png" alt="" height="16" width="16">Продукт №2</a>
      </li>
      <li><a class="main__product-link" href="#"><img ngSrc="/sp2-3.png" alt="" height="16" width="16">Продукт №3</a>
      </li>
    </ul>
  </div>
  <div class="main__product-container">
    <button (click)="toggleActive(1)" class="main__product-list">Все задачи <img [ngStyle]="getStyles(1)"
                                                                                 ngSrc="/arrow-icon.png" alt=""
                                                                                 height="6" width="10"></button>
    <ul class="main__product-menu" [ngClass]="{'active-two': activeIndex[1]}">
      <li><a class="main__product-link" href="#">Все задачи</a></li>
      <li><a class="main__product-link" href="#"><img ngSrc="/category.png" alt="" height="16" width="16">Общие</a></li>
      <li><a class="main__product-link" href="#"><img ngSrc="/developer.png" alt="" height="16"
                                                      width="16">Разработка</a></li>
      <li><a class="main__product-link" href="#"><img ngSrc="/test-icon.png" alt="" height="16" width="16">Тестирование</a>
      </li>
      <li><a class="main__product-link" href="#"><img ngSrc="/error-icon.png" alt="" height="16" width="16">Ошибки</a>
      </li>
    </ul>
  </div>
</div>
