/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/InterVariable.ttf') format('truetype');
}
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype');
}
body{
  margin: 0;
  padding: 0 40px;
  background: #F1F2F4;
}
*{
  margin: 0;
  padding: 0;
  font-family: Inter, serif;
  color: var(--gray-color);
  font-size: 14px;
}
img{
  transition: 0.2s;
}
.blue{
  color: var(--blue-color);
}
.roboto{
  font-family: 'Roboto', serif;
}
:root{
  --blue-color: #16A4E3;
  --gray-color:#7E7E7E;
}
@media (max-width: 1280px) {
  body{
    padding: 0 20px;
  }
}
@media (max-width: 375px) {
  body{
    padding: 16px;
  }
}
